# Virtual environment
transpulse/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Serialized models and data
*.pkl
*.csv
*.json

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# macOS system file
.DS_Store
